.Qr {
  display: none;
}

@media ( width >= 1024px) {
  .Qr {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 180px;
    padding: 40px;
    font-size: 20px;
    color: #236791;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #fffef7;
    box-shadow:
      0 10px 0 2px #19567c,
      inset 0 0 0 5px #2c70a0,
      inset 0 0 0 15px #f9e7d2;

    & > svg {
      width: 100%;
      height: auto;
    }

    & > svg > :first-child {
      fill: transparent;
    }

    & > svg > :last-child {
      fill: #236791;
    }

    & > span {
      margin-top: 10px;
    }
  }
}
