.Ladder {
  position: relative;
}

.Ladder > ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Ladder__topThree {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 75px 0 60px 0;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;

  & > :nth-child(2) {
    order: -1;
  }
}

.Ladder__rest {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}




.Ladder > .Lottie {
  position: absolute;
  top: -110px;
  left: 50%;
  width: 340px;
  transform: translate(-50%, 0);
}




.Ladder > ol > * > li {
  animation-name: appear;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0,.43,0,1);

  & > .NameBox--king {
    animation-name: bounce;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-duration: calc(3400ms / 2);
    animation-delay: 0;
    animation-timing-function: cubic-bezier(0,.43,0,1);
  }
}

@for $i from 0 to 80 {
  .Ladder > ol > * > li:nth-child($i) {
    animation-delay: calc(50ms * $i);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce {
  0%, 20%, 100% {
    transform: scale3d(1, 1, 1);
  }
  10% {
    transform: scale3d(1.05, 1.05, 1);
  }
}
