.NameBox {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #fffef7;
  color: #236791;
}

.NameBox > span {
  padding: 3px 0px;
}

.NameBox__rating-container {
  background-color: #7ed4e8;
  width:  100%;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  font-size: 16px;
}

.NameBox.ShadowBox {
  min-width: 150px;
}

.NameBox > .NumberBox {
  position: absolute;
  top: -10px;
  left: -12px;
}




.NameBox--topThree.ShadowBox {
  min-height: 60px;
  min-width: 225px;
  font-size: 22px;
  padding-left: 0;
}

@media (width >= 1024px) {
  .NameBox--topThree > .NumberBox {
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}




.NameBox--king.ShadowBox {
  position: relative;
  min-width: 300px;
  min-height: 70px;
  font-size: 32px;
  padding-left: 0;
  background-color: #7ed4e8;
  color: #fffef7;
}

.NameBox--king > .NumberBox.ShadowBox {
  min-width: 50px;
}

@media (width >= 1024px) {
  .NameBox--king > .NumberBox.ShadowBox {
    opacity: 0;
  }
}

.NameBox--king::before {
  content: ' ';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  height: 12px;
  background-color: #fffef7;
  opacity: 0.3;
  border-radius: 12px;
}

.NameBox--king .NameBox__name-container::before, .NameBox--king .NameBox__name-container::after {
  content: ' \2605 ';
  margin: 0px 10px;
  font-size: 30px;
  vertical-align: top;
}

.NameBox--king > span.NameBox__rating-container {
  color: #236791;
  background: #fff;
}