.NameBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #fffef7;
  color: #236791;
}

.NameBox > .NumberBox {
  position: absolute;
  top: -10px;
  left: -10px;
}




.NameBox--topThree.ShadowBox {
  min-height: 60px;
  min-width: 220px;
}

.NameBox--topThree > .NumberBox {
  top: -70px;
  left: 50%;
  transform: translate(-50%, 0);
}




.NameBox--king.ShadowBox {
  position: relative;
  min-width: 300px;
  min-height: 70px;
  font-size: 32px;
  background-color: #7ed4e8;
  color: #fffef7;
}

.NameBox--king > .NumberBox.ShadowBox {
  display: none;
}

.NameBox--king::before {
  content: ' ';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  height: 12px;
  background-color: #fffef7;
  opacity: 0.3;
  border-radius: 12px;
}
