.NameBox {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #fffef7;
  color: #236791;
}

.NameBox.ShadowBox {
  min-width: 150px;
}

.NameBox > .NumberBox {
  position: absolute;
  top: -10px;
  left: -10px;
}




.NameBox--topThree.ShadowBox {
  min-height: 60px;
  min-width: 225px;
  font-size: 22px;
  padding-left: 0;
}

@media (width >= 1024px) {
  .NameBox--topThree > .NumberBox {
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}




.NameBox--king.ShadowBox {
  position: relative;
  min-width: 300px;
  min-height: 70px;
  font-size: 32px;
  padding-left: 0;
  background-color: #7ed4e8;
  color: #fffef7;
}

.NameBox--king > .NumberBox.ShadowBox {
  min-width: 50px;
}

@media (width >= 1024px) {
  .NameBox--king > .NumberBox.ShadowBox {
    opacity: 0;
  }
}

.NameBox--king::before {
  content: ' ';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  height: 12px;
  background-color: #fffef7;
  opacity: 0.3;
  border-radius: 12px;
}
