.ContentBox {
  box-sizing: border-box;
  min-height: 580px;
  width: 1600px;
  margin: 0 auto;
  padding: 65px;
  border-radius: 20px;
  background-color: #fffef7;
  box-shadow:
    0 10px 0 2px #19567c,
    inset 0 0 0 5px #2c70a0,
    inset 0 0 0 15px #f9e7d2;
}
