.Hero {
  position: relative;
  padding: 0;
  overflow: hidden;
  height: 440px;

  @media (width < 1024px) {
    height: 290px;
  }
}

.Hero > h1 {
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.Hero > .Lottie {
  position: absolute;
  width: 1920px;
  top: -60px;
  left: 50%;
  margin-left: calc(-1920px / 2);

  @media (width < 1024px) {
    width: 1200px;
    top: -20px;
    margin-left: calc(-1200px / 2);
  }
}
