.Hero {
  position: relative;
  padding: 0;
  overflow: hidden;
  height: 180px;

  @media (width >= 768px) {
    height: 330px;
  }
  
  @media (width >= 1024px) {
    height: 440px;
  }
}


.Hero > h1 {
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}


.Hero > .Lottie {
  position: absolute;
  left: 50%;
  width: 768px;
  top: -20px;
  margin-left: calc(-768px / 2);

  @media (width >= 768px) {
    width: 1440px;
    top: -45px;
    margin-left: calc(-1440px / 2);
  }

  @media (width >= 1024px) {
    width: 1920px;
    top: -60px;
    margin-left: calc(-1920px / 2);
  }
}
